<!DOCTYPE html>
<html>

{{template "header.gohtml" .}}

<body>

<div>
	<h2>
		<div>{{.User.Name | html}}</div>
		<small style='color: #888;'>@{{.User.Username | html}}</small>
	</h2>
	<div><strong>Email:</strong> {{.User.Email | html}}</div>
</div>

</body>
</html>