
@import 'components/reset';
@import 'components/siimple/dist/siimple';

.vertical-center {
	display: flex;
	align-items: center;
}

.card-shadow {
	position: relative;
	background-color: #fff;

	* {
		z-index: 1;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: rgba(0,0,0,.3);
		filter: blur(4px);
	}

	&.card-shadow__hover {

		&::before {
			opacity: .5;
			transform: translate(1px, 1px);
			transition: all .3s ease-in-out;
			will-change: opacity, transform;
		}

		&:hover {

			&::before {
				opacity: 1;
				transform: translate(2px, 2px);
			}
		}
	}
}

.center-wrapper {
	max-width: 900px;
	padding: 1em;
	margin: 0 auto;
}

